<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/16_Scanner/src/com/mystudy/ex03_scanner_bank/BankATM_Test_teacher.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<booleanAttribute key="org.eclipse.jdt.launching.ATTR_EXCLUDE_TEST_CODE" value="true"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.mystudy.ex03_scanner_bank.BankATM_Test_teacher"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="16_Scanner"/>
</launchConfiguration>
