<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/New/src/com/mystudy/split/Ex02_StringTokenizer.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.mystudy.split.Ex02_StringTokenizer"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="New"/>
</launchConfiguration>
