<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/21_InetAddress_URL/src/com/mystudy/ex02_url/URL_Exam.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.mystudy.ex02_url.URL_Exam"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="21_InetAddress_URL"/>
</launchConfiguration>
